.container {
  max-width: 992px;
  min-width: 567px;

  margin: 0 auto;
}

.homename {
  display: flex;
}
.navb {
  text-decoration: none;
}

.home {
  border-bottom: 3px solid rgb(228, 225, 225);
  margin-bottom: 50px;
}

.maintext > a {
  color: gray;
  text-decoration: none;
}

.image {
  margin-top: -8px;
}

.cardone {
  background-image: url(/assets/img/pic\ 3.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 30vh;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.cardtwo {
  background-image: url(/assets/img/pic\ 4.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 30vh;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.cardthree {
  background-image: url(/assets/img/pic\ 5.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 30vh;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.headergrid {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 20px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 40px;
  gap: 20px;
}

.fcard {
  margin-bottom: 30px;
}

.error {
  position: relative;
  top: 12px;
}

.card {
  max-width: 400px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.card-text {
  text-align: center;
}

img {
  min-height: 40vh;
}

.btn {
  width: 50%;
}

@media (max-width: 978px) {
  .image {
    height: 300px;
  }
}
