.container {
  max-width: 992px;
  min-width: 567px;
  margin: 0 auto;
}

.maintext > a {
  color: gray;
  text-decoration: none;
}

.image {
  margin-top: -8px;
}

.cardone {
  background-image: url(/assets/img/pic\ 3.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 30vh;
}

.cardtwo {
  background-image: url(/assets/img/pic\ 4.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 30vh;
}

.cardthree {
  background-image: url(/assets/img/pic\ 5.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 30vh;
}

.headergrid {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 20px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 70px;
  gap: 20px;
}

.fcardone {
  margin-bottom: 40px;
}

.fcardtwo {
  margin-bottom: 40px;
}

.fcardthree {
  margin-bottom: 40px;
}

.fcardfour {
  margin-bottom: 40px;
}

.paddingcardone {
  padding-top: 45px;
}

.paddingcardtwo {
  padding-top: 67px;
}

.paddingcardthree {
  padding-top: 67px;
}

.error {
  position: relative;
  top: 12px;
}
